<div class="p-6 bg-white border-b border-gray-200">
  <h1 class="text-3xl font-bold mb-4">Отчет о лабораторной работе</h1>

  <div class="mb-4">
    <h3 class="text-xl font-bold"><%= @lab_report.title %></h3>
    <p class="text-gray-700 mb-2"><%= @lab_report.description %></p>
    <p class="text-gray-700"><strong>Оценка:</strong> <%= @lab_report.grade %></p>
  </div>

  <div class="flex justify-between">
    <%= link_to 'Редактировать', edit_lab_report_path(@lab_report), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to 'Вернуться к списку', lab_reports_path, class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>
